.mainmain {
  background-image: url('./../../../public/assets/background.jpg'); /* 이미지 경로를 실제 이미지 파일 경로로 변경하세요 */
  background-size: cover; /* 배경 이미지를 화면 전체에 맞게 조정합니다 */
  background-position: center; /* 배경 이미지를 화면 중앙에 위치시킵니다 */
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정합니다 */
  width: 100%;
  height: 100vh; /* 화면 전체 높이에 맞게 설정합니다 */
  z-index: 0;
}

.treeimg{
    width: 100px;
  }

  .giftimg{
    width: 150px;
  }

  @keyframes bounceDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    50% { 
      transform: translateY(20px);
      opacity: 1;
    }
    70% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounceDown 0.6s ease; /* 애니메이션 추가 */
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .giftButton, .giftButton1, .giftButton2,.giftButton3 {
    display: block;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .saveimg, .closeButton{
    background-color: #E0F7FA; /* 원하는 색상으로 수정 가능 */
    color: #000000; /* 텍스트 색상 */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  }

  .closeButton{
    background-color: #b0b0b0; /* 원하는 색상으로 수정 가능 */
    color: #000000; /* 텍스트 색상 */
  }
  
  .giftButton1 {
    background-color: #E0F7FA;
    width: 100%;
  }
  
  .giftButton2 {
    background-color: #FCE4EC;
    width: 100%;
  }
  
  .giftButton3   {
    background-color: #F1F8E9;
    width: 100%;
  }
  
  .modaltreeimg{
    width: 150px;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  } 


  /* From Uiverse.io by abuayaan01 */ 
.buttonliq {
  background-color: #000;
  border: none;
  outline: 0px;
  color: #000000;
  width: 200px;
  padding: 20px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.liquid {
  background-color: #2893eb;
  width: 200px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: inset 5px -5px 25px #104e81,
  inset -5px 0px 25px #104e81;
}

.liquid::after {
  content: '';
  width: 450px;
  height: 400px;
  background: #ffffff;
  z-index: 1;
  position: absolute;
  left: -110px;
  top: -380px;
  border-radius: 45%;
  animation: animate1 5s linear 2s infinite;
}

.liquid::before {
  content: '';
  width: 450px;
  height: 400px;
  background-color: rgb(68, 160, 235);
  z-index: 1;
  position: absolute;
  left: -110px;
  top: -380px;
  border-radius: 40%;
  animation: animate1 5s linear 1.8s infinite;
}

.btntxt123 {
  position: relative;
  z-index: 1;
  font-size: 22px;
  /* font-family: sans-serif; */
  letter-spacing: 2px;
}

@keyframes animate1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

