

.wateringButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #009CF4;
  border-radius: 12px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wateringButton span {
  color: #009CF4;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  transition: color 0.3s ease;
}

.wateringButton:hover {
  background-color: #009CF4;
  border-color: #009CF4;
}

.wateringButton:hover span {
  color: white;
}