.campaignContainer {
  padding: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.campaignHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.campaignTitle {
  font-size: 18px;
  margin: 0;
}

.campaignlink {
  text-decoration: none;
  color: black;
}

.slide {
  padding: 10px;
}

.imageWrapper {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.campaignImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaignDetails {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}

.campaignText {
  font-size: 16px;
  margin-bottom: 10px;
}

.campaignInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.campaignDays, .campaignAmount {
  font-size: 14px;
}

.campaignProgress {
  font-size: 14px;
  color: #009CF4;
}

.userPoints {
  background: #e6f7ff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.campaignButton{
  background-color: #fff;
  color: #006bcf;
  border: 1px solid #006bcf;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px; /* Ensure font size consistency */
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.campaignButton:hover{
  background-color: #006bcf;
  color: #fff;
}


/* Custom styles for react-slick */
:global .slick-prev,
:global .slick-next {
  z-index: 1;
}

:global .slick-prev {
  left: 10px;
}

:global .slick-next {
  right: 10px;
}

:global .slick-dots {
  bottom: -30px;
}

:global .slick-slide > div {
  margin: 0 10px;
}

:global .slick-list {
  margin: 0 -10px;
}